<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DILMUSS</title>
</head>
<style>
    body {
        background-color: #040404;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    .centered-image {
        display: block;
        margin: auto;
        width: auto;
        height: auto;
    }
</style>
<body>
  <img src="../static/images/dilmuss.jpg" alt="Dilmuss offical website" class="centered-image">
</body>
</html>